<h3>Pages</h3>
<table class="table table-stripped" style="width: 400px;">
    <?php foreach($data['pages'] as $page_data) { ?>
        <tr>
            <td><b><?=$page_data['title']?></b></td>
            <td align="right">
                <a href="/admin/pages/edit/<?=$page_data['id']?>"><button class="btn btn-sn btn-primary">edit</button></a>
                <a href="/admin/pages/delete/<?=$page_data['id']?>"><button onclick=" return confirmDelete()" class="btn btn-sn btn-warning">delete</button></a>
            </td>
        </tr>
    <?php } ?>
</table>

<br />

<div>
    <a href="/admin/pages/add/"><button class="btn btn-sn btn-success">New Page</button></a>
</div>